*{
    box-sizing: border-box;
    color: #edecec;
    padding: 0px;
    margin: 0px;
    font-family:  sans-serif, arial;
}
body{
    background-color: #14120b;
    color: #edecec;
}
header{
     position:sticky;
     top: 0px;
    
}
nav{
    font-size: 15.0625px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    gap: 355px;
    padding-top:12px;
    background-color: #14120b;
    z-index: 1000;
    letter-spacing: -0.5px;
    font-weight: 400;
   
  
}
.nava{
    padding: 13px;
    border: 1px solid #0000;
    text-decoration: none;
}
.btn{
    font-size: 13.125px;
    border: 1px solid #edecec;
    padding: .45em .8em .46em;
    border-radius: 3.40282e38px;
    cursor: pointer;
    font-weight: 600;
    text-align: center;
}
#btnp{
    color: #14120b;
    background-color: #edecec;
    line-height: 1;
}
#btns{
    background-color: #0000;
    padding-top:5.90625px;
    padding-right:13px;
    padding-bottom:8px;
    padding-left: 13px;
    border: 1px solid gray;   
}

.btnparent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 9.375px;
    text-align: center;
    font-size: 13.125px;
}

.sectiona{
    font-size: 24.365px;
    text-wrap:balance;
    font-weight: 400;
    margin-right: 500px;
    
}
#btnm{
    box-sizing: border-box;
    font-size: 17px;
    color: #14120b;
    padding-top: 10px;
    padding-bottom: 12px; 
    padding-left: 25px;
    padding-right: 25px;
    font-weight:400;
    letter-spacing:-0.5px;
}
.section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 120px;
    margin-left: 292px;
}
.sectionb{
    margin-top:20px;
    margin-bottom: 60px;
    
}
.section1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
 ;
}
.section1a{
    padding-bottom:30px;
    font-size: 16px;
    font-weight:490;
       letter-spacing:-0.5px;
}
.section3{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.img{
    padding-bottom: 85px;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;

}
.section4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:33.75px;

}
.car{
    padding-bottom: 60px;
}