*{
    box-sizing: border-box;
    color: #edecec;
    padding: 0px;
    margin: 0px;
    font-family: "CursorGothic", "CursorGothic Fallback", system-ui, Helvetica Neue, Helvetica, Arial, sans-serif;
}
body{
    background-color: #14120b;
    color: #edecec;
}
nav{
    font-size: 15.0625px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    margin-top:12px;
    margin-left: 130px;
    margin-right:150px;
}
.nava{
    padding: 13px;
    border: 1px solid #0000;
    text-decoration: none;
}
.btn{
    font-size: 13.125px;
    border: 1px solid #edecec 50%, transparent;
    padding: .45em .8em .46em;
    border-radius: 3.40282e38px;
    cursor: pointer;
}
#btnp{
    color: #14120b;
    background-color: #edecec;
    line-height: 1;
}
#btns{
    background-color: #0000;
    padding-top:5.90625px;
    padding-right:10.5px;
    padding-bottom:6.037px;
    padding-left: 10.5px;   
}

.btnparent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 9.375px;
    text-align: center;
    font-size: 13.125px;
}